# Ignore bin and obj directories
bin/
obj/

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore Visual Studio files
*.vs/
.vscode/

# Ignore NuGet packages
*.nuget.props
*.nuget.targets
packages/

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Ignore .NET Core files
project.lock.json
project.fragment.lock.json
artifacts/

# Ignore build cache directory used by the Visual Studio for Mac
# (https://www.visualstudio.com/en-us/docs/git/use-gitignore)
.vscode-cache/